@media only screen and (max-width: 576px) {
  .container {
    margin: 0.5em 1em 1em 1em;
  }
}


@media (min-width: 576px) {
  .container {
    margin: 2em 2em 2em 2em;
  }
}

body {
  background-color: lightblue;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
}